<div class="single-footer-widget" id="newsletter">
    <h2>{{ headerText }}</h2>
    <div class="widget-body">
        <img src="{{ asset('images/logo.png') }}" alt="JSOFT">
        <p>{{ phraseText }}</p>
        <div class="newsletter-area">
            <form id="footer-newsletter">
                <input type="email" placeholder="Subscribe Our Newsletter">
                <button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
            </form>
        </div>
    </div>
</div>