<!--== Header Bottom Start ==-->
<div id="header-bottom">
    <div class="container">
        <div class="row">
            <!--== Logo Start ==-->
            <div class="col-lg-4">
                <a href="" class="logo">
                    <img src="{{ asset('images/logo.png') }}" alt="FACR">
                </a>
            </div>
            <!--== Logo End ==-->

            <!--== Main Menu Start ==-->
            <div class="col-lg-8 d-none d-xl-block">
                <nav class="mainmenu alignright">
                    <ul>
                        <li class="active"><a href="#">Home</a>
                            <ul>
                                <li><a href="">Home 1</a></li>
                                <li><a href="">Home 2</a></li>
                                <li><a href="">Home 3</a></li>
                            </ul>
                        </li>
                        <li><a href="">Car Rental</a>
                            <ul>
                                <li><a href="">Small Cars</a></li>
                                <li><a href="">Family Cars</a></li>
                                <li><a href="">SUV Cars</a></li>
                                <li><a href="">6 Seaters</a></li>
                                <li><a href="">Vans</a></li>
                                <li><a href="">Coasters</a></li>
                            </ul>
                        </li>
                        <li><a href="">Airport Transfer</a></li>
                        <li><a href="#">Excursions &amp; Tours</a>
                        <li><a href="#">Pricing</a>
                        </li>
                        <li><a href="">Desk</a>
                            <ul>
                                <li><a href="">About Us</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Contact Us</a></li>
                                <li><a href="">Gallery</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--== Main Menu End ==-->
        </div>
    </div>
</div>
<!--== Header Bottom End ==-->