<!--== Header Bottom Start ==-->
<div id="header-bottom">
    <div class="container">
        <div class="row">
            <!--== Logo Start ==-->
            <div class="col-lg-4">
                <a href="" class="logo">
                    <img src="{{ asset('images/logo.png') }}" alt="FACR">
                </a>
            </div>
            <!--== Logo End ==-->

            <!--== Main Menu Start ==-->
            <div class="col-lg-8 d-none d-xl-block">
                <nav class="mainmenu alignright">
                    <ul>
                        <li class="active"><a href="#">Home</a>
                            <ul>
                                <li><a href="">Home 1</a></li>
                                <li><a href="">Home 2</a></li>
                                <li><a href="">Home 3</a></li>
                            </ul>
                        </li>
                        <li><a href="">About</a></li>
                        <li><a href="">services</a></li>
                        <li><a href="#">Cars</a>
                            <ul>
                                <li><a href="">Car Left Sidebar</a></li>
                                <li><a href="">Car Right Sidebar</a></li>
                                <li><a href="">Car Without Sidebar</a></li>
                                <li><a href="">Car Details</a></li>
                            </ul>
                        </li>
                        <li><a href="">Pages</a>
                            <ul>
                                <li><a href="">Pricing</a></li>
                                <li><a href="">Driver</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Gallery</a></li>
                                <li><a href="">Help Desk</a></li>
                                <li><a href="">Log In</a></li>
                                <li><a href="">Register</a></li>
                                <li><a href="">404</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Blog</a>
                            <ul>
                                <li><a href="">Blog Page</a></li>
                                <li><a href="">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <!--== Main Menu End ==-->
        </div>
    </div>
</div>
<!--== Header Bottom End ==-->