<!--== Preloader Area Start ==-->
<div class="preloader">
    <div class="preloader-spinner">
        <div class="loader-content">
            <img src="{{ asset('images/preloader.gif') }}" alt="JSOFT">
        </div>
    </div>
</div>
<!--== Preloader Area End ==-->